<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.mappers.Mapper">

    <!--<select id="selectAll" resultType="com.me.bean.Informations">-->
          <!--select * from hcInfo;-->
    <!--</select>-->

    <insert id="insertInfo" parameterType="com.me.bean.Informations" useGeneratedKeys="true">
          INSERT INTO hcInfo
            (title,author_name,source,date,content)
          VALUES
            (#{title},#{authorName},#{source},#{date}, #{content})
    </insert>
</mapper>